.loader-container {
  inset: 0;
  position: absolute; 
  left:0;
  right:0;
  top:0;
  bottom:0;
  display: grid;
  place-content: center;
}

.spinner {
  width: 70px;
  padding: .6em;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-mebl);
  --mask: 
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {to{transform: rotate(1turn)}}

// .loader {
//   width: 5rem;
//   height: 5rem;
//   border: .4rem solid var(--color-mebl);
//   border-left-color: transparent;
//   border-right-color: transparent;
//   border-radius: 50%;
//   animation: .6s ease infinite alternate spinner-old;
// }

// @keyframes spinner-old {
//   to {
//     transform: rotate(1turn) scale(1.2);
//   }
// }