.catalog {
  padding-top: 24px;

  @media (min-width: 820px) {
    padding-top: 32px;
  }

  @media (min-width: 1120px) {
    padding-top: 40px;
  }

  &__container {
    padding: 0;

    @media (min-width: 860px) {
      padding-inline: 43px;
    }

    @media (min-width: 1120px) {
      padding-inline: 92px;
    }
  }

  &__list {
    overflow-x: auto;
    padding: 0 16px;
    display: flex;
    gap: 4px;

    @media (min-width: 580px) {
      padding: 0;
    }

    @media (min-width: 1120px) {
      overflow-x: visible;
    }
  }

  &__item {
    flex-shrink: 0;

    @media (min-width: 1160px) {
      transition: transform .3s ease-in-out;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  &__link {
    display: flex;
    gap: 6px;
    padding: 10px 14px;
    color: var(--color-gray-dark);
    border-radius: 32px;
    outline: none;
    border: 1px solid var(--color-mebl);
    white-space: nowrap;
    transition:
      background-color .3s ease-in-out,
      color .2s ease-in-out;

    &:hover,
    &:focus-visible,
    &_active {
      background-color: var(--color-mebl);
      color: var(--color-white);
    }

    &_active {
      pointer-events: none;
    }

    &:active {
      transform: scale(0.985);
    }
  }

  &__icon {
    height: 16px;
  }
}