.catalog {
  overflow-x: hidden;
  padding-top: 24px;

  @media (min-width: 820px) {
    padding-top: 32px;
  }

  @media (min-width: 1120px) {
    padding-top: 40px;
  }

  &__container {
    padding: 0;
  }

  &__list {
    overflow-x: auto;
    padding: 0 16px;
    display: flex;
    gap: 4px;

    @media (min-width: 580px) {
      padding: 0;
    }

    @media (min-width: 1120px) {
      overflow-x: visible;
    }
  }

  &__item {

    @media (min-width: 1120px) {
      transition: transform .3s ease-in-out;
  
      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  &__link {
    display: block;
    padding: 8px 14px 10px 14px;
    background-color: var(--color-gray);
    color: var(--color-gray-dark);
    border-radius: 32px;
    outline: none;
    border: 1px solid transparent;
    white-space: nowrap;
    transition: 
      border-color .3s ease-in-out,
      color .3s ease-in-out;

    &:hover,
    &:focus-visible {
      border-color: var(--color-mebl);
      color: var(--color-mebl-dark);
    }

    &:active {
      transform: scale(0.985);
    }
    &_active {
      background-color: var(--color-mebl-dark);
      color: var(--color-white);

      &:hover,
      &:focus-visible {
        color: var(--color-white);
      }
    }

    &_active {
      pointer-events: none;
    }
  }
}