.footer {
  padding-top: 32px;
  padding-bottom: 40px;
  background: var(--color-dark);
  color: var(--color-white);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @media (min-width: 580px) {
      display: grid;
      grid-template-columns: max-content auto;
      grid-template-areas:
        "logo contacts"
        "developers developers"
        "copyright copyright";
    }

    @media (min-width: 820px) {
      row-gap: 32px;
    }
  }

  &__logo {
    width: 230px;
    height: 100%;

    @media (min-width: 580px) {
      grid-area: logo;
    }

    @media (min-width: 820px) {
      width: 331px;
    }
  }

  &__contacts {
    @media (min-width: 580px) {
      grid-area: contacts;
      justify-self: flex-end;
    }
  }

  &__developer-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--color-light);

    @media (min-width: 580px) {
      grid-area: developers;
    }
  }

  // &__developer-item{
  // }

  &__developer-link {
    &:hover {
      color: var(--color-white);
    }
  }

  &__copyright {
    color: var(--color-light);

    @media (min-width: 580px) {
      grid-area: copyright;
    }
  }
  & a {
    transition: color 0.3s ease-in-out;
  }

  & a:hover {
    color: var(--color-mebl);
  }
}