.error {
  flex-grow: 1;
  display: grid;
  place-content: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-inline: 1rem;
  color: orangered;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
  font-size: clamp(1.25rem, 0.6235rem + 3.1325vw, 4.5rem);
}

.text {
  margin-bottom: 1.5rem;
  font-size: clamp(0.875rem, 0.6581rem + 1.0843vw, 2rem);
  opacity: .8;
  line-height: 1.6;

  & span {
    font-weight: 700;
  }
}

.error-btn {
  display: block;
  width: fit-content;
  justify-self: center;
  padding: 1rem 2rem;
  background-color: var(--color-light);
  color: rgb(248, 117, 78);
  border: 1px dashed orangered;
  border-radius: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transition:
    color 0.2s ease-in-out,
    border-color 0.2s ease-in-out margin-top .3s ease-in-out;

  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  &:hover,
  &:focus-visible {
    color: var(--color-mebl);
    border-color: var(--color-mebl);
  }

  &:active {
    opacity: .9;
  }

  @media (min-width: 1120px) {
    padding-inline: 4rem;
    font-size: 2rem;
  }
}

@-webkit-keyframes bounceInLeft {

  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {

  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}