.not-found {
  position: relative;
  margin: 2rem auto;
  padding-block: 30px;
  max-width: 640px;
  display: grid;
  place-content: center;
  gap: 1rem;
  border: 1px dashed var(--color-mebl);
  border-radius: 32px;
  text-align: center;
}

.title {
  font-size: clamp(1.25rem, 0.6235rem + 3.1325vw, 4.5rem);
  color: var(--color-mebl);
  z-index: 2;
}

// .text {}

.query {
  color: var(--color-mebl-dark);
  font-size: clamp(0.875rem, 0.6581rem + 1.0843vw, 2rem);
  font-weight: 700;
  z-index: 2;
}

.info {
  z-index: 2;
}

.info p + p {
  padding-top: 1rem;
}

.animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: .6;
}