.page404 {
  flex-grow: 1;
  display: grid;
  place-content: center;
  margin: 0 auto;
  padding-inline: 16px;
  text-align: center;
  color: orangered;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.image {
  -webkit-animation: slide-top 1s ease-out 0.6s infinite alternate both;
	        animation: slide-top 1s ease-out 0.6s infinite alternate both;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: clamp(1.25rem, 0.6235rem + 3.1325vw, 4.5rem);

  @media (min-width: 1120px) {
    gap: 2rem;
    flex-direction: row;
    margin-bottom: 3rem;
  }
}

.text {
  font-size: clamp(0.875rem, 0.6581rem + 1.0843vw, 2rem);
  color: var(--color-dark);
  
  & p + p {
    padding-top: 20px;
  }
}

.link {
  position: relative;
  font-weight: 700;
  border-bottom: 3px dashed transparent;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: var(--color-mebl);
  }

  &:focus-visible {
    outline-color: var(--color-mebl);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}