.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;

  &:hover &__link {
    filter: drop-shadow(0 .4em .8em var(--color-gray-dark));
  }

  &:hover &__image {
    transform: scale(1.05);
  }

  @media(min-width: 580px) {
    gap: 19px;
  }

  &__link {
    overflow: hidden;
    border-radius: 16px;
    transition: filter .3s ease-in-out;

    &:focus-visible {
      outline-color: var(--color-mebl);
    }
  }

  &__image {
    $imageHeight: 120;
    $imageWidth: 140;
    
    width: 100%;
    object-fit: cover;
    aspect-ratio: calc($imageWidth/20) / calc($imageHeight/20);
    transition: transform .3s ease-in-out;

    @media (min-width: 580px) {
      $imageHeight: 200;
      $imageWidth: 230;
      aspect-ratio: calc($imageWidth/20) / calc($imageHeight/20);
    }

    @media (min-width: 820px) {
      $imageHeight: 250;
      $imageWidth: 302;
      aspect-ratio: calc($imageWidth/20) / calc($imageHeight/20);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;

    @media(min-width: 580px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item-title {
    font-size: 12px;
    font-weight: 400;

    @media(min-width: 580px) {
      font-size: 16px;
    }
  }

  &__item-link {

    &:focus-visible {
      outline-color: var(--color-mebl);
    }
  }

  &__item-price {
    font-size: 16px;

    @media(min-width: 580px) {
      margin-top: -4px;
      font-size: 20px;
    }
  }

  &__button-cart {
    padding: 12px 24px;
    background-color: transparent;
    color: var(--color-mebl-dark);
    border-radius: 32px;
    border: 1px solid var(--color-mebl-dark);
    transition: 
      background-color .3s ease-in-out,
			color .3s ease-in-out,
			border-color .3s ease-in-out;

    @media(min-width: 580px) {
      margin-top: -1px;
    }

    &:hover,
    &:focus-visible {
      background-color: var(--color-mebl);
      border-color: var(--color-mebl);
      color: var(--color-white);
    }

    // &:hover {
    //   filter: drop-shadow(0 0 2em var(--color-mebl));
    // }

    &:active {
      transform: scale(0.99);
      // background-color: transparent;
      // border-color: var(--color-dark);
      // color: var(--color-dark);
    }
  }

} 

.favorite {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--color-dark);
  transition: color .3s ease-in-out;

  svg {
    width: 16px;
    height: 16px;
    fill: var(--color-white);
    transition: fill .3s ease-in-out, transform .3s ease-in-out;

    @media (min-width: 820px) {
      width: 20px;
      height: 20px;
    }

    @media (min-width: 1120px) {
      width: 24px;
      height: 24px;
    }
  }

  &:hover,
  &:focus-visible,
  &_active {
    svg {
      fill: var(--color-mebl);
    }
    color: var(--color-mebl-dark);
  }

  &:hover {
    svg {
      transform: translateY(-2px);
    }
  }

  &:active {
    svg {
      transform: scale(0.9);
    }
  }
}