.card {
  padding-top: 24px;

  @media (min-width: 580px) {
    padding-top: 28px;
  }

  @media (min-width: 820px) {
    padding-top: 40px;
  }
}

.container {
  @media (min-width: 820px) {
    display: grid;
    grid-template-columns: 66% 1fr;
    gap: 40px 24px;
  }
}

.title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;

  @media (min-width: 580px) {
    font-size: 32px;
  }

  @media (min-width: 820px) {
    margin-bottom: 0;
    grid-column: 1/-1;
  }
}

.info {
  @media (min-width: 820px) {
    grid-column: 2/3;
  }
}

.price {
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 20px;

  @media (min-width: 820px) {
    font-size: 2.5rem;
    margin-top: 0;
  }

  &__currency {
    color: var(--color-mebl-dark);
  }
}

.article {
  margin-bottom: 24px;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 32px;
  background-color: var(--color-light);
  font-size: 12px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.buttons-cart {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  padding: 12px 24px;
  color: var(--color-mebl-dark);
  border: 1px solid var(--color-mebl);
  border-radius: 32px;
  transition:
    background-color 0.3s ease-in-out,
    filter 0.3s ease-in-out,
    margin-bottom 0.2s ease-in-out;

  @media (min-width: 1120px) {
    font-size: 1.5rem;
  }

  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -30px;
    width: 24px;
    height: 24px;
    background-image: url('../../images/icon-cart.png');
    background-repeat: no-repeat;
    transition: left .3s ease;

    @media (min-width: 1120px) {
      top: 14px;
    }
  }

  &:hover:before {
    left: 40px;

    @media (min-width: 520px) {
      left: 80px;
    }
  }

  &:focus-visible {
    border-style: dashed;
  }

  &:active {
    margin-top: 1px;
  }
}

.favorite {
  width: 24px;
  height: 24px;
  color: var(--color-mebl-dark);
  transition: margin-top 0.2s ease-in-out;

  @media (min-width: 1120px) {
    width: 32px;
    height: 32px;
  }

  svg {
    fill: var(--color-white);
    transition: fill 0.3s ease-in-out;
  }

  &:hover {
    margin-top: -5px;
  }

  &:hover,
  &:focus-visible,
  &_active {
    svg {
      fill: var(--color-mebl);
    }
  }

  &:active {
    svg {
      margin-top: 1px;
    }
  }
}