.control {
  display: flex;
  gap: 16px;
  font-size: 14px;
}

.link {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  align-items: flex-end;
  transition: color 0.3s ease-in-out;

  & svg {
    fill: var(--color-white);
    transition: fill 0.3s ease-in-out;
  }

  & .active {
    color: var(--color-mebl);
    fill: var(--color-mebl);
  }

  &:hover,
  &:active {
    color: var(--color-mebl);

    svg {
      fill: var(--color-mebl);
    }
  }

  &:focus-visible {
    outline-color: var(--color-mebl);
  }

  @media (min-width: 580px) {
    flex-direction: row;
  }
}

.link-text {
  position: fixed;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;

  @media (min-width: 580px) {
    position: unset;
    transform: scale(1);
  }
}

// .count {
// }

.full-cart {
  -webkit-animation: heartbeat 2.5s ease-in-out infinite both;
  animation: heartbeat 2.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}