.control {
  display: flex;
  gap: 16px;
  font-size: 14px;
}

.link {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
  align-items: flex-end;
  transition: color 0.3s ease-in-out;

  & svg {
      fill: var(--color-white);
      transition: fill 0.3s ease-in-out;
  }

  &:hover,
  &:active {
      color: var(--color-mebl);

      svg {
          fill: var(--color-mebl);
      }
  }

  &:focus-visible {
      color: var(--color-mebl);
      outline-color: var(--color-mebl);
  }

  @media (min-width: 580px) {
      flex-direction: row;
  }
}

.link-text {
  display: none;

  @media (min-width: 580px) {
      display: block;
  }
}

// .count {
// }
