.preloader-container {
  flex-grow: 1;
  display: grid;
  place-content: center;
  padding-inline: 1rem;
  background-color: var(--color-white);
}

.preloader {
  font-size: clamp(1.25rem, 0.6235rem + 3.1325vw, 4.5rem);
  font-weight: 700;
  letter-spacing: .3em;
  color: var(--color-mebl);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preloader-ellipsis {
  position: relative;
  width: 100px;

  & div {
    position: absolute;
    top: 33px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-mebl);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  & div:nth-child(1) {
    left: 8px;
    animation: preloader-ellipsis1 0.6s infinite;
  }

  & div:nth-child(2) {
    left: 8px;
    animation: preloader-ellipsis2 0.6s infinite;
  }

  & div:nth-child(3) {
    left: 32px;
    animation: preloader-ellipsis2 0.6s infinite;
  }

  & div:nth-child(4) {
    left: 56px;
    animation: preloader-ellipsis3 0.6s infinite;
  }
}

@keyframes preloader-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes preloader-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes preloader-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}