.products {
  grid-area: content;
  padding-block: 24px;
  display: flex;
  flex-direction: column;
}

.customer {
  color: var(--color-mebl-dark);
}

.product {
  display: grid;
  align-items: center;
  gap: 4px 8px;
  grid-template-columns: 25vw min-content 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    "img title title"
    "img article article"
    "img control price";

  @media (min-width: 480px) {
    grid-template-columns: 120px 1fr min-content;
    gap: 6px 12px;
    grid-template-areas:
      "img title price"
      "img article article"
      "img control .";
  }

  @media (min-width: 880px) {
    padding: 0.7em 1.25rem 0.7rem 0.6rem;

    &:hover {
      overflow: hidden;
      background-color:hsla(166, 94%, 94%, 0.5);
      border-radius: 16px;
    }
  }
}

.link {
  grid-area: img;
  border: 1px solid transparent;
  border-radius: 16px;
  overflow: hidden;
  transition: border-color .3s ease;
  outline: none;

  &:hover {
    filter: drop-shadow(0 .1em .2em var(--color-gray-dark));
  }
  &:focus-visible {
    border-color: var(--color-mebl);
  }
}

.link2 {
  color: var(--color-mebl) !important;

  &:hover {
    text-decoration: underline;
  }
}

.img {
  border-radius: 16px;
  transition: transform .3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.titleProduct {
  grid-area: title;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  @media (min-width: 480px) {
    align-self: start;
    font-size: 16px;
    padding-top: 14px;
  }
}

.price {
  grid-area: price;
  color: var(--color-dark);
  text-align: right;

  & span {
    font-size: 0.7em;
  }

  @media (min-width: 480px) {
    align-self: start;
    justify-self: end;
    font-size: 16px;
    padding-top: 12px;
    text-align: left;
  }
  
  @media(min-width: 1120px) {
    font-size: 1.3em;

    & span {
      font-size: 0.65em;
    }
  }
}

.currency {
  color: var(--color-mebl-dark);
  font-style: normal;
}

.article {
  grid-area: article;
  color: var(--color-dark-gray);
  font-size: 10px;

  @media (min-width: 480px) {
    font-size: 12px;
  }
}