.breadcrumb {
  padding-top: 20px;

  @media (min-width: 580px) {
    padding-top: 24px;
  }
}

.list {
  display: flex;
  gap: 6px;
  color:var(--color-gray-dark);
}

.item {
  display: flex;
  gap: 6px
}

.item:last-child .separator {
  display: none;
}

.disabled{
  pointer-events: none;
}

.link {
  display: block;

  &:active,
  &:hover {
    color: var(--color-mebl);
  }

  &:focus-visible {
    color: var(--color-mebl);
    outline-color: var(--color-mebl);
  }
}

.loading {
  height: 44px;
}