@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open-sans-v36-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/open-sans-v36-cyrillic_latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v13-cyrillic_latin-regular.woff2") format("woff2");
}

:root {
  --min-width: 320px;
  --container-width: 1440px;
  --padding-base: 16px;

  --font-size: 16px;
  --font-main: "Open Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;

  --color-light: #EEEFF2;
  --color-dark: #1c1c1c;
  --color-white: #fff;
  --color-gray: #EEEFF2;
  --color-gray-dark: #969EAE;
  --color-violet: #780096;
  --color-mebl: #06C094;
}

/* Reset and base styles  */
html {
  position: relative;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Common */
#root, body {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  min-width: var(--min-width);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  background-color: var(--color-white);
  color: var(--color-dark);

  font-family: var(--font-main);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02rem;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

iframe {
  border: none;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}