.products {
  grid-area: content;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 880px) {
    margin-bottom: 0;
  }
}

.product {
  display: grid;
  align-items: center;
  gap: 4px 8px;
  grid-template-columns: 25vw min-content 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    "img title title"
    "img article article"
    "img control price";

  @media (min-width: 480px) {
    grid-template-columns: 120px 1fr min-content;
    gap: 6px 12px;
    grid-template-areas:
      "img title price"
      "img article article"
      "img control .";
  }

  @media (min-width: 880px) {
    padding-right: 1.25rem;
    // width: 95%;

    &:hover {
      overflow: hidden;
      background-color:hsla(166, 94%, 94%, 0.5);
      border-radius: 16px;
    }
  }
}

.link {
  grid-area: img;
  border: 1px solid transparent;
  border-radius: 16px;
  overflow: hidden;
  transition: border-color .3s ease;
  outline: none;

  &:hover,
  &:focus-visible {
    border-color: var(--color-mebl);
  }

}

.img {
  border-radius: 16px;
  transition: transform .3s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.titleProduct {
  grid-area: title;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;

  @media (min-width: 480px) {
    font-size: 16px;
    padding-top: 12px;
  }
}

.price {
  grid-area: price;
  color: var(--color-dark);
  text-align: right;

  @media (min-width: 480px) {
    align-self: start;
    justify-self: end;
    font-size: 16px;
    padding-top: 12px;
    text-align: left;
  }
  
  @media(min-width: 1120px) {
    font-size: 1.3em;
  }
}

.article {
  grid-area: article;
  color: var(--color-dark-gray);
  font-size: 9px;

  @media (min-width: 480px) {
    font-size: 12px;
  }
}

.productControl {
  grid-area: control;
  justify-self: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 5px 8px;
  border-radius: 32px;
  border: 1px solid var(--color-mebl);

  @media (min-width: 480px) {
    align-self: end;
  }
}

.productBtn {
  width: 24px;
  height: 24px;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;

  svg {
    fill: var(--color-mebl-dark);

    &:hover {
      fill: var(--color-mebl);
    }
  }

  &:focus-visible {
    border-color: var(--color-mebl);
  }
}

.productCount {
  min-width: 14px;
  text-align: center;
  font-size: 1.3em;
}