.products {
  grid-area: content;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: 880px) {
    margin-bottom: 0;
  }
}

.product {
  display: grid;
  align-items: center;
  gap: 4px 8px;
  grid-template-columns: 25vw min-content 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    "img title title"
    "img article article"
    "img control price";

    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  @media (min-width: 480px) {
    grid-template-columns: 120px 1fr min-content;
    gap: 6px 12px;
    grid-template-areas:
      "img title price"
      "img article article"
      "img control .";
  }

  @media (min-width: 880px) {
    padding: 0.7em 1.25rem 0.7rem 0.6rem;

    &:hover {
      overflow: hidden;
      background-color:hsla(166, 94%, 94%, 0.5);
      border-radius: 16px;
    }
  }
}

.link {
  grid-area: img;
  border: 1px solid transparent;
  border-radius: 16px;
  overflow: hidden;
  transition: border-color .3s ease;
  outline: none;

  &:hover {
    filter: drop-shadow(0 .1em .4em var(--color-gray-dark));
  }
  &:focus-visible {
    border-color: var(--color-mebl);
  }

}

.img {
  border-radius: 16px;
  transition: transform .3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }
}

.titleProduct {
  grid-area: title;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

  @media (min-width: 480px) {
    align-self: start;
    font-size: 16px;
    padding-top: 14px;
  }
}

.price {
  grid-area: price;
  color: var(--color-dark);
  text-align: right;

  & span {
    font-size: 0.7em;
  }

  @media (min-width: 480px) {
    align-self: start;
    justify-self: end;
    font-size: 16px;
    padding-top: 12px;
    text-align: left;
  }
  
  @media(min-width: 1120px) {
    font-size: 1.3em;

    & span {
      font-size: 0.65em;
    }
  }
}

.currency {
  color: var(--color-mebl-dark);
  font-style: normal;
}

.article {
  grid-area: article;
  color: var(--color-dark-gray);
  font-size: 10px;

  @media (min-width: 480px) {
    font-size: 12px;
  }
}

.productControl {
  grid-area: control;
  justify-self: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 3px 9px;
  background-color: var(--color-white);
  border-radius: 32px;
  border: 1px dashed var(--color-mebl);
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  @media (min-width: 480px) {
    align-self: end;
  }
}

.productBtn {
  width: 24px;
  height: 24px;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;

  svg {
    width: 24px;
    height: 24px;
    fill: var(--color-mebl-dark);

    &:hover {
      fill: var(--color-mebl);
    }
  }

  &:focus-visible {
    border-color: var(--color-mebl);
  }
}

.productCount {
  min-width: 14px;
  text-align: center;
  font-size: 1.3em;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}